
wp-content/plugins/simply-static/static-files/simply-static-1-1642786357/2022/01/21/hello-world/feed/index.xml
wp-content/plugins/simply-static/static-files/simply-static-1-1642786357/2022/01/21/hello-world/index.html
wp-content/plugins/simply-static/static-files/simply-static-1-1642786357/feed/index.xml
wp-content/plugins/simply-static/static-files/simply-static-1-1642786357/comments/feed/index.xml
wp-content/plugins/simply-static/static-files/simply-static-1-1642786357/author/root/index.html
wp-content/plugins/simply-static/static-files/simply-static-1-1642786357/author/root/feed/index.xml
wp-content/plugins/simply-static/static-files/simply-static-1-1642786357/index.html
wp-content/plugins/simply-static/static-files/simply-static-1-1642786357/wp-content/themes/twentytwentyone/assets/css/print.css
